
snippet im "for inline math" i
\$${1}\$$0
endsnippet

snippet wm "for whole line math" b
\$\$ ${1} \$\$$0
endsnippet

snippet frac "fraction" i
\\frac\{${1}\}\{${2}\}$0
endsnippet

snippet cases "cases" b
\\begin\{cases\}
$1
\\end\{cases\}$0
endsnippet
