
snippet "![bB]" "bold" ir
**${1:${VISUAL}}**$0
endsnippet

snippet "![bB]e" "bold" ir
**${1:${VISUAL}}** (${2:${VISUAL}}) $0
endsnippet

snippet sp "indent two word" b
&emsp;&emsp;
endsnippet

snippet !sp "indent two word" bA
&emsp;&emsp;
endsnippet
