
snippet bd "bold" i
**${1:${VISUAL:text}}**$0
endsnippet

snippet bde "bold" i
**$1** ($2) $0
endsnippet

snippet sp "indent two word" b
&emsp;&emsp;
endsnippet

snippet !sp "indent two word" bA
&emsp;&emsp;
endsnippet

snippet vb "bold text" i
**${VISUAL:default BOLD}**
endsnippet
